In [13]:
# Import Pandas Library
import pandas as pd

In [14]:
#save relevant file paths to variables
school_file_path = "../Resources/schools_complete.csv"
students_file_path = "../Resources/students_complete.csv"
#read in csv into data frame using pandas according to our previously defined paths - default encoding is UTF-8
school_df = pd.read_csv(school_file_path)
students_df = pd.read_csv(students_file_path)

#merge the two data frames into a new data frame called complete_df
complete_df = pd.merge(students_df, school_df, how="left", on="school_name")

#print first 5 rows of our new data frame
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
#calculate the total number of unique schools
school_count = len(complete_df["school_name"].unique())
school_count

15

In [16]:
student_count = len(complete_df["Student ID"])
student_count

39170

In [23]:
budget_total = complete_df["budget"].unique().sum()
budget_total

24649428

In [18]:
average_math_score = complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [19]:
average_reading_score = complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [36]:
per_passing_math = (len(complete_df.loc[complete_df["math_score"]>=70.00])/student_count)*100
per_passing_math

74.9808526933878

In [37]:
per_passing_reading = (len(complete_df.loc[complete_df["reading_score"]>=70.00])/student_count)*100
per_passing_reading

85.80546336482001

In [38]:
total_passing = (len(complete_df.loc[complete_df["reading_score" and "math_score"]>=70.00])/student_count)*100
total_passing

74.9808526933878